* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

h1 {
	margin: 40px 0;
	text-align: center;
}

#root {
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.card_recipe {
	width: 480px;
	height: 420px;
	box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.598);
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 25px;
}

.img_elem {
	margin-bottom: 20px;
}
